 body {
    font-family: "Cormorant Unicase", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    scroll-behavior: smooth;
    font-size: 16px;
}
h1
{
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}
h3{
    font-family: "Cormorant Unicase", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}
b{
    font-size: 21px;
}
p{
    text-align: center;
}



 #about
 {
    color: whitesmoke;
    opacity: 1;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8)), url("HellsingAlucard.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: unset;
    background-attachment:fixed;
    font-family: "Cormorant Unicase", serif;
    font-weight: 600;
    font-style: normal;
    /* font-size: 20px; */
    min-height: 100vh;
    /* position: sticky; */
    z-index: 0; 
 }
 div.background 
 {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 30%;
    height:max-content;
    top: 20%;
    left:10%;
    border: 3px;
    border-radius: 10px; 
    padding: 3%;
 }
 div.background-inside
 {  
    display:flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    opacity: 1;
 }
.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button 
{
      display: inline-block;
      padding: 15px 10px;
      background-color: rgb(39, 39, 39);
      color: whitesmoke;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
  }
.button:hover 
{
    transform: translateY(-3px);
    background-color:  rgba(60, 0, 0, 0.8); 
    transition: transform 0.5s;
}
#scrollButton { 
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background: none; 
    border: none; 
    cursor: pointer; 
} 
#scrollButton img { 
    width: 50px; 
    height: 50px; 
}

#HeroesSECTION
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(16, 16, 16);
    height: auto;
    width: auto;
    color: whitesmoke;
    opacity: 1;
    padding-bottom:2.5%;
    z-index: 1;
} 
#HeroesDIV
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
   
}
.container2
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: auto;

    background-color: rgba(69, 0, 0, 0.723);

    border: 5px;
    border-radius: 8px; 
    padding: 1.5%;
    margin: 1.5%;
    padding-bottom: 0.5%;
    margin-top: 0px;
    margin-right: 0px;
    transition: transform 0.3s, background-color 0.3s;
}
.gif
{
    border-radius: 8px;
}
.container2:hover
{
    transform: translateY(-5px);
    background-color: rgba(91, 0, 0, 0.723);
    transition: background-color 0.5s;
    transition: transform 0.4s;
}
.HeroText{
    text-wrap:wrap;

}

#TechnologiesSECTION
{
    background-color: #2b2b2b;
    padding: 20px;
    background-color: #222;
    color: #fff;
    font-family: "Cormorant Unicase", serif;
    font-weight: 600;
    padding-top: 0px;
    z-index: 2;
    padding-bottom: 3%;
}
#TechnologiesSECTION b
{
    font-weight:700;
    /* font-size: 22px; */
    color: #ff6347;
}
.WeaponsGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    color: rgb(255, 255, 255);
}

.Weapon {
    display: flex;
    justify-content: start;
    align-items: center; 
    align-content: center;
    flex-direction: column;
    /* background-color: #362121; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px; 
    background-color: #363636; /* Темный фон для карточек */ 
    color: #f0f0f0; /* Светлый текст */   
    padding: 20px; /* Добавим больше отступов */ 
    transition: transform 0.3s, background-color 0.3s;
}
.Weapon:hover{
    transform: translateY(-10px);
    /* background-color: rgb(106, 16, 16); */
    background-color: #484848;
    transition: background-color 0.3s;
    transition: transform 0.6s;
}

.Weapon p {
    margin: 10px 0 0 0; 
    text-align: center; 
}

.image1
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
    overflow: hidden;
    /* width:200px;
    height:200px; */
}
.image1 img{
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
}
header{
    background-color: rgb(60, 0, 0);
}
nav { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    position: sticky;
} 
.logo { 
    font-size: 1.5em; 
    color: whitesmoke;
} 

.nav-links { 
    list-style-type: none; 
    display: flex; 
    padding: 0;
    border: 5px;
} 

.nav-links li { 
    margin-left: 20px;  
} 

.nav-links a { 
    color: white; 
    text-decoration: none; 
} 

.menu-toggle { 
    display: none; 
    flex-direction: column; 
    cursor: pointer; 
} 

.menu-toggle .bar { 
    width: 25px; 
    height: 3px; 
    background-color: rgb(255, 255, 255); 
    margin: 4px 0; 
} 

@media (max-width: 800px) { 
    .nav-links { 
        display: none; 
        flex-direction: column; 
        width: 100%; 
        position: absolute; 
        top: 33px; 
        left: 0; 
        background-color: #333; 
        margin-top: 0% ;
    } 
    .nav-links li { 
        text-align: center; 
        margin: 10px 0;
    } 
    .menu-toggle { 
        display: flex; 
    } 
    .nav-links.show { 
        display: flex;
    }
}
/* Медиа-запрос для экранов шириной до 1200px */
@media (max-width: 1200px) {
    body {
        font-size: 16px;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    b{
        font-size: 20px;
    }
}

/* Медиа-запрос для экранов шириной до 992px */
@media (max-width: 992px) {
    body {
        font-size: 15px;
    }
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 17px;
    }
    b{
        font-size: 19px;
    }
}

/* Медиа-запрос для экранов шириной до 768px */
@media (max-width: 768px) {
    body {
        font-size: 13px;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    b{
        font-size: 16px;
    }
}

/* Медиа-запрос для экранов шириной до 576px */
@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
    h1{
        font-size: 19px;
    }
    h3{
        font-size: 14px;
    }
    b{
        font-size: 15px;
    }
}